
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico in the root directory -->
    <link href="~/Content/EasyUI/themes/lanssion/easyui.css" rel="stylesheet" />
    <link href="~/Content/EasyUI/themes/icon.css" rel="stylesheet" />
    <link href="~/Content/CSS/CommonS.css" rel="stylesheet" />
    <link href="~/Content/Document/CSS/main.css" rel="stylesheet" />
    <link href="~/Content/Document/CSS/normalize.css" rel="stylesheet" />  
    <link href="~/Content/Document/CSS/_layoutDetails.css" rel="stylesheet" />  

    <!--[if lte IE 9]>
    <p class="browserupgrade">您使用的浏览器 <strong>版本过低</strong>. 请 <a href="https://browsehappy.com/">升级浏览器</a></p>
    <![endif]-->
</head>
<body class="easyui-layout">
    <div data-options="region:'west'" id="Header">
        <div class="easyui-layout" data-options="fit:true">
            <div data-options="region:'north'" id="HeaderImg" style="height: 150px;width:250px;">
                <a href="#">
                    <img src="~/Content/Document/Image/logo-BCI.png" />
                </a>
            </div>
            <div data-options="region:'center'" style="height:100%;overflow:hidden;">
                <div id="lstSty" style="height:100%;overflow:hidden;">
                    <div class="easyui-accordion" style="overflow:hidden;">
                        <div data-options="iconCls:'icon-ok'" id="ListMenuOne"
                             style="overflow: auto; overflow-x: hidden;">
                            <ul id="uloneli" class="accordion" style="overflow:hidden; margin: 0cm 0cm 3cm 0cm;">
                                <li style="border-top: 1px solid #0241a9;">
                                    <div class="link" target="ifContent" onclick="SelectedL('095001')">
                                        <i class="fa fa-code"></i>
                                        管理端
                                        <i class="fa "></i>
                                    </div>
                                    <ul class='submenu'>
                                        <li>
                                            <img class="imgcd" src="~/Content/Document/Image/Menu.png"
                                                 style="float:left;width:32px;height:40px;display:none" />
                                            <a href="#" id="095001001" value="../Admin/BCCEzzlb"
                                               onclick="ShowContent('../Admin/BCCEzzlb','095001001')">BCCE资质文件列表</a>
                                        </li>
                                        <li>
                                            <img class="imgcd" src="~/Content/Document/Image/Menu.png"
                                                 style="float:left;width:32px;height:40px;display:none" />
                                            <a href="#" id="095001002" value="../Admin/CTSyylb"
                                               onclick="ShowContent('../Admin/CTSyylb', '095001002')">CTS维修资料列表</a>
                                        </li>
                                        <li>
                                            <img class="imgcd" src="~/Content/Document/Image/Menu.png"
                                                 style="float:left;width:32px;height:40px;display:none" />
                                            <a href="#" id="095001004" value="../Admin/LSSyylb"
                                               onclick="ShowContent('../Admin/LSSyylb', '095001004')">LSS应用资料列表</a>
                                        </li>

                                        <li>
                                            <img class="imgcd" src="~/Content/Document/Image/Menu.png"
                                                 style="float:left;width:32px;height:40px;display:none" />
                                            <a href="#" id="095001006" value="../Admin/zczlb"
                                               onclick="ShowContent('../Admin/zczlb', '095001006')">注册证列表</a>
                                        </li>
                                    </ul>
                                </li>
                                <div class="link" target="ifContent" onclick="SelectedL('095002')">
                                    <i class="fa fa-code"></i>
                                    经销商端
                                    <i class="fa "></i>
                                </div>
                                <ul class='submenu'>
                                    <li>
                                        <img class="imgcd" src="~/Content/Document/Image/Menu.png"
                                             style="float:left;width:32px;height:40px;display:none" />
                                        <a href="#" id="095002001" value="'../Customer/BCCEzzlb"
                                           onclick="ShowContent('../Customer/BCCEzzlb', '095002001')">BCCE资质文件列表</a>
                                    </li>
                                    <li>
                                        <img class="imgcd" src="~/Content/Document/Image/Menu.png"
                                             style="float:left;width:32px;height:40px;display:none" />
                                        <a href="#" id="095002002" value="'../Customer/CTSyylb"
                                           onclick="ShowContent('../Customer/CTSyylb', '095002002')">CTS维修资料列表</a>
                                    </li>
                                    <li>
                                        <img class="imgcd" src="~/Content/Document/Image/Menu.png"
                                             style="float:left;width:32px;height:40px;display:none" />
                                        <a href="#" id="095002004" value="../Customer/LSSyylb"
                                           onclick="ShowContent('../Customer/LSSyylb', '095002004')">LSS应用资料列表</a>
                                    </li>
                                    <li>
                                        <img class="imgcd" src="~/Content/Document/Image/Menu.png"
                                             style="float:left;width:32px;height:40px;display:none" />
                                        <a href="#" id="095002006" value="../Customer/zczlb"
                                           onclick="ShowContent('../Customer/zczlb', '095002006')">注册证列表</a>
                                    </li>
                                </ul>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div data-options="region:'center'" style="overflow: hidden;">
        <div class="easyui-layout" data-options="fit:true">
            <div data-options="region:'north'" id="TitleTop">
                <div id="TitleContent" class="easyui-layout" fit="true">
                    <div region="west" border="false"
                         style="width:400px;font-size:26px;color:#0241a9;font-weight:700;padding:0 0 0 45px;line-height:56px;overflow:hidden;">
                        资料文档管理
                    </div>
                    <div region="center">
                        <div id="tipname">
                            <p id="spanA">18071094779</p>
                            <p style="border-bottom:1px solid #0096D6;width:204px;"></p>
                            <p id="spanB">开发1</p>
                        </div>

                    </div>
                    <div region="east" style="width:144px;overflow: hidden;padding-left:4px;" border="false">
                        <a href="#" class="areaUser"></a>
                        <a href="#" id="spanOut" onclick="Exit();" class="areaLogout"></a>
                    </div>
                </div>
            </div>
            <div region="center">
                <div id="ContentArea" style="height:100%;width:100%;"></div>
            </div>
        </div>
    </div>
    <div data-options="region:'south'"
         style=" height:40px;line-height:40px;background-color:#666;font-size:12pt;overflow: hidden;">
        <span style="color:#ffffff;margin-left:20px;">技术支持：TCSOFT 13661487706  021-51580506  QQ： 800189020 工作时间：9：00-12：00 13：00~18：00 邮箱：tcsoftsupport@tcsoft.net.cn</span>
        <img style="height: 26px;width: 116px;float: right;margin:7px 20px 7px 0;" src="~/Content/Document/Image/logo-TC-W.png" />
    </div>
 
    <script type="text/javascript" src="~/Content/Document/JS/vendor/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/Document/JS/vendor/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="~/Content/Document/JS/vendor/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="~/Content/Document/JS/vendor/jquery.form.min.js"></script>
    <script type="text/javascript" src="~/Content/Document/JS/vendor/EasyUIExtentions.js"></script>

    <script type="text/javascript">

    $.fn.dialog.defaults.onClose = function () {
        $(this).dialog('destroy');
    }


    $.fn.toJSON = function () {
        var o = {};
        var a = this.serializeArray();
        $.each(a, function () {
            var name = this.name;
            var value = this.value;
            var paths = this.name.split(".");
            var len = paths.length;
            var obj = o;
            $.each(paths, function (i, e) {
                if (i == len - 1) {
                    if (obj[e]) {
                        if (!obj[e].push) {
                            obj[e] = [obj[e]];
                        }
                        obj[e].push(value || '');
                    } else {
                        obj[e] = value || '';
                    }
                } else {
                    if (!obj[e]) {
                        obj[e] = {};
                    }
                }
                obj = o[e];
            });
        });
        return o;
    };
    $(function () {
        //手风琴
        var Accordion = function (el, multiple) {
            this.el = el || {};
            this.multiple = multiple || false;
            // Variables privadas
            var links = this.el.find('.link');
            // Evento
            links.on('click', {el: this.el, multiple: this.multiple}, this.dropdown)
        }

        Accordion.prototype.dropdown = function (e) {
            var $el = e.data.el;
            $this = $(this),
                $next = $this.next();

            $(".link").next().slideUp();
            if ($next.is(":hidden")) {
                $next.slideDown();
            } else {
                $next.slideUp();
            }

            if (!e.data.multiple) {
                $el.find('.submenu').not($next).slideUp().parent().removeClass('open');
            }
            ;
        }

        var accordion = new Accordion($('.accordion'), true);

        // 初始化默认首页
        var $ss = $("#uloneli li div").next()
        $ss.slideDown();
        $(".submenu li").css("color", "#0033CC");
        $(".submenu li").css("background-color", "#0033CC");
        var $ww = $ss.find("li").first().find("a").first();
        $ww.parent().css("background-color", "#a7a8aa");
        $(".imgcd").hide();
        $ww.prev().show();
        $ww.removeClass("hover");
        var url = $ww.attr("value");
            $("#ContentArea").panel({href: url});
    });

    //选中变色
    function SelectedL(seleid) {
        $(".submenu li").css("color", "#0033CC");
        $(".submenu li").css("background-color", "#0033CC");
        $(".imgcd").hide();
        $("#" + seleid).prev().show();
        $("#" + seleid).parent().css("background-color", "#a7a8aa");
        $("#" + seleid).removeClass("hover");
    }
    //退出
    function Exit() {
        window.opener = null;
        window.open('', '_self');
        window.close();
    }

    function ShowContent(contenturl, seleid) {
        SelectedL(seleid);
        $("#ContentArea").panel({href: contenturl});
    }
    </script>
</body>
</html>

