
@{
    Layout = null;
}
<div icon="icon-save" style="padding: 5px; padding-left: 50px;" class="flex flex-v flex-pack-center">
    <div class="flex flex-align-center" style="padding: 10px">
        <div style="margin:0 10px 0 10px">请选择一行再操作</div>
    </div>
</div>