
@{
    Layout = null;
}

<div icon="icon-save" style="padding-left: 50px; padding-top: 20px;" class="flex flex-v flex-pack-center">
    <form id="ext-form" method="post">
        <div class="flex flex-align-center" style="padding: 10px">
            <input type="radio" name="current" value="true" checked="checked" /><div style="margin:0 10px 0 10px">导出当前结果</div>
        </div>
        <div class="flex flex-align-center" style="padding: 10px">
            <input type="radio" name="current" value="false" /><div style="margin:0 10px 0 10px">导出所有结果(包含未完成状态经销商)</div>
        </div>
    </form>
</div>
