
@{
    Layout = null;
}

<div icon="icon-save" style="padding: 5px; padding-left: 20px;" class="flex flex-v">
    <form id="fc-form" method="post">
        <div class="flex flex-align-center" style="padding: 10px">
            <div style="margin:0 10px 0 10px;width: 80px;text-align: right;">经销商:</div>
            <input id="finddetail-company" name="DistributorID" editable='false' class='easyui-combobox txt200' style="width: 410px;" data-options="valueField:'DistributorID',textField:'DistributorName'"/>
        </div>
        <div class="flex flex-align-center" style="padding: 10px">
            <div style="margin:0 10px 0 10px;width: 80px;text-align: right;">区域:</div>
            <input id="finddetail-area" name="Area" editable='false' class='easyui-combotree txt200' style="width: 410px;" data-options="multiple:true"/>
        </div>
        <div class="flex flex-align-center" style="padding: 10px">
            <div style="margin:0 10px 0 10px;width: 80px;text-align: right;">状态:</div>
            <input id="finddetail-status" name="Status" editable='false' class='easyui-combotree txt200' style="width: 410px;" data-options="multiple:true"/>
        </div>
        <div class="flex flex-align-center" style="padding: 10px">
            <div style="margin:0 10px 0 10px;width: 80px;text-align: right;">姓名:</div>
            <input class="easyui-textbox txt200" name="Name" style="width: 410px;"/>
        </div>
        <div class="flex flex-align-center" style="padding: 10px">
            <div style="margin:0 10px 0 10px;width: 80px;text-align: right;">部门:</div>
            <input id="finddetail-dept" editable='true' class="easyui-textbox txt200" name="Department" style="width: 410px;"/>
        </div>
        <div class="flex flex-align-center" style="padding: 10px">
            <div style="margin:0 10px 0 10px;width: 80px;text-align: right;">职位:</div>
            <input id="finddetail-title" editable='true' class="easyui-textbox txt200" name="Title" style="width: 410px;"/>
        </div>
        <div class="flex flex-align-center" style="padding: 10px">
            <div style="margin:0 10px 0 10px;width: 80px;text-align: right;">培训完成日期:</div>
            <input class="easyui-datebox" editable='false' name="CompletedDateFrom" style="width:180px">到
            <input class="easyui-datebox" editable='false' name="CompletedDateTo" style="width:180px">
        </div>
        <div class="flex flex-align-center" style="padding: 10px">
            <div style="margin:0 10px 0 10px;width: 80px;text-align: right;">更新日期:</div>
            <input class="easyui-datebox" editable='false' name="UpdateDateFrom" style="width:180px">到
            <input class="easyui-datebox" editable='false' name="UpdateDateTo" style="width:180px">
        </div>
        <div class="flex flex-align-center" style="padding: 10px">
            <div style="margin:0 10px 0 10px;width: 80px;text-align: right;">在职状态:</div>
            <input type="radio" name="OffWork" value="false" style="margin: 0 10px; margin-left: 0px"/>在职
            <input type="radio" name="OffWork" value="true" style="margin: 0 10px;margin-left: 44px"/>离职
        </div>
        <div class="flex flex-align-center" style="padding: 10px">
            <div style="margin:0 10px 0 10px;width: 80px;text-align: right;">所属领域:</div>
            <input type="checkbox" name="Domain1" value="true" style="margin: 0 10px; margin-left: 0px"/>临床诊断
            <input type="checkbox" name="Domain2" value="true" style="margin: 0 10px;margin-left: 20px"/>生命科学
        </div>
        <div class="flex flex-align-center" style="padding: 10px">
            <div style="margin:0 10px 0 10px;width: 80px;text-align: right;">备注:</div>
            <input class="easyui-textbox txt200" name="Remark" style="width: 410px;"/>
        </div>
    </form>
</div>