<style>
    .table-a table td {
        border: 1px solid #000000;
        text-align: center;
        vertical-align: middle;
        letter-spacing: 1px;
    }

    .table-a table th {
        border: 1px solid #000000;
        font-weight: inherit;
    }
    .table-a {
        margin-top:20px;
    }
</style>

<div class="table-a" align="center" >
    <table border="1" id="Tab" cellspacing="3px" cellpadding="3px" style="border-collapse: collapse" align="center" >
        <tr>
            <th style="width:80px;">联系我们</th>
            <th style="width:154px;">对应系统</th>
            <th style="width:150px;">主要处理问题</th>
            <th style="width:150px;">电话</th>
            <th style="width:150px;">邮箱</th>
        </tr>
        <tr>
            <td rowspan="6">芦军</td>
        </tr>
        <tr>
            <td rowspan="6">对应系统</td>
            <td>1.增加产品线</td>
            <td rowspan="6">010-65213253 </td>
            <td rowspan="6">jllu1@beckman.com</td>
        </tr>
        <tr>
            <td>2.设置产品价格</td>
        </tr>
        <tr>
            <td>3.设置OKC</td>
        </tr>
        <tr>
            <td>4.添加经销商，划分大区小区</td>
        </tr>
        <tr>
            <td>5.设置经销商类别</td>
        </tr>

        <tr>
            <td rowspan="6">Vicky</td>
        </tr>
        <tr>
            <td rowspan="5">订购系统</td>
            <td>1.增加产品线</td>
            <td rowspan="5">010-65213253 </td>
            <td rowspan="5">jllu1@beckman.com</td>
        </tr>
        <tr>
            <td>2.库存数据</td>
        </tr>
        <tr>
            <td>3.预测数据</td>
        </tr>
        <tr>
            <td>3.预测数据</td>
        </tr>
        <tr>
            <td>4.客户审批</td>
        </tr>
        <tr>
            <td rowspan="3">Ellen</td>
            <td>订购系统(D)</td>
            <td>XSW权限设置</td>
            <td rowspan="3">021-38651173</td>
            <td rowspan="3">DWANG03@beckman.com</td>
        </tr>
        <tr>
            <td>FCPA证书管理系统(D)</td>
            <td>FCPA证书管理</td>
        </tr>
        <tr>
            <td>
                评估系统(D)
            </td>

            <td>
                年初、年中全年评估
            </td>
        </tr>
        <tr>
            <td rowspan="3">黄晶</td>
            <td>订购系统（B）</td>
            <td>XSW权限设置</td>
            <td rowspan="3">021-38651173</td>
            <td rowspan="3">DWANG03@beckman.com</td>
        </tr>
        <tr>
            <td>FCPA证书管理系统(D)</td>
            <td>FCPA证书管理</td>
        </tr>
        <tr>
            <td>
                评估系统(D)
            </td>
            <td>
                年初、年中全年评估
            </td>
        </tr>
        <tr>
            <td>Cream</td>
            <td>订购系统</td>
            <td>维修订单</td>
            <td>021-38651120</td>
            <td>yzhao@beckman.com</td>
        </tr>
        <tr>
            <td rowspan="4">李卡娜</td>
            <td rowspan="3">订购系统</td>
            <td>1）商务订单部分发货</td>
            <td rowspan="4">021-38651196</td>
            <td rowspan="4">knli@beckman.com</td>
        </tr>
        <tr>
            <td>2）商务订单品项更改</td>
        </tr>
        <tr>
            <td>4）商务订单最小订单金额、最小订货量</td>
        </tr>
        <tr>
            <td>CF系统</td>
            <td>5）CF赔偿物流</td>

        </tr>
        <tr>
            <td>吴建石</td>
            <td>订购系统</td>
            <td>LSS应用资料</td>
            <td>13816137464</td>
            <td>jswu@beckman.com</td>
        </tr>
        <tr>
            <td>Judy</td>
            <td>CF系统(D)</td>
            <td>CF提交、权限</td>
            <td>021-38651163</td>
            <td>Jwang09@beckman.com</td>
        </tr>
        <tr>
            <td>Iris</td>
            <td>CF系统(B)</td>
            <td>CF提交、权限</td>
            <td>021-38651139</td>
            <td>HYANG01@beckman.com</td>
        </tr>
    </table>
</div>