@{
    Layout = "~/Areas/User/Views/Shared/_LayoutDetails.cshtml"; ;
}

<script type="text/javascript">
    $(function () {
        $('#grid').datagrid({
            url: '@Url.Action("GetStopUser", "User")',
            pagination: true,
            autoRowHeight: true,
            pageSize: 20,
            pageList: [20, 30, 50],
            singleSelect: true,
            queryParams: {},
            idField: 'UserID',
            fitColumns: false,
            columns: [[
                 { title: 'UserID', field: 'UserID', hidden: true, width: 1, halign: 'center', align: 'center' },
                 { title: '用户编号', field: 'UserCode', width: 180, halign: 'center', align: 'center' },
                 { title: '用户名称', field: 'FullName', width: 200, halign: 'center', align: 'center' },
                 { title: '手机号', field: 'PhoneNumber', width: 130, halign: 'center', align: 'center' },
                 { title: '邮箱', field: 'Email', width: 200, halign: 'center', align: 'center' },
                 { title: '部门', field: 'DepartName', width: 200, halign: 'center', align: 'left' },
                 { title: '用户类型', field: 'UserTypestr', width: 150, halign: 'center', align: 'center' },
                 { title: '经销商', field: 'UserDistributorstr', width: 280, halign: 'center', align: 'left' },
                 { title: '到期日期', field: 'StopTimestr', width: 130, halign: 'center', align: 'center' },
            ]]
        });
    });
    function doSearch(value) {
        $('#grid').datagrid('clearSelections');
        $('#grid').datagrid('reload', { SearchText: value });
    }
    function Enable() {
        var row = $("#grid").datagrid("getSelected");
        if (row == null) {
            alert("您还没有选择用户，请选择！");
            return;
        }
        $.post("@Url.Action("EnableUser", "User")", {
            UserID: row.UserID
        }, function (data) {
            if (data.SubmitResult) {
                $("#grid").datagrid("reload");
            } else {
                alert(data.Message)
            }
        });
    }
</script>

<div class="easyui-layout" style="height:100%;">
    <div region="north" class="direcbtn" style="height:94px;">
        <div class="topContent">
            <input id="serchText" class="easyui-searchbox" style="height:32px;width:460px;" data-options=" prompt:'按用户编号、手机号、姓名、邮箱、经销商名称模糊搜索',searcher:doSearch" />
            <a href="#" class="easyui-linkbutton" id="NewOneUser" style="margin-left:10px;" onclick="Enable()">启用</a>
        </div>
    </div>
    <div region="center">
        <div id="BodyContentDiv">
            <table id="grid" style="width:100%;height:100%;"></table>
        </div>
    </div>
</div>


